{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "~": "./src"
                },
                "throwIfNamespace": false
            }
        ]
    ]
}
