@import '../GlobalStyles/GlobalStyles.module.scss';
.wrapper {
}
.slide {
    width: 100%;
    height: 270px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    & > .slide-item {
        width: 100%;
        height: 100%;
    }
}
.btn {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    & a {
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 6px 16px;
    }
}
